/* color variables */
:root {
  --clr-primary: #9B835F;
  --clr--primary-accent: #CBB99D  ;
  --clr-font: #FFFFFF;
  --clr-selected: #C6C2C4;
  --clr-shadow: #1E1E1E;
}
* {
  font-family: 'Fredoka One', sans-serif;
}
/* ========== HEADER ========*/
h1 {
  text-align: center;
  text-transform: uppercase;
}
header h1 {
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
  padding-top: 30px;
  text-align: center;
}
header h1,
.player-section h1 ,
.cpu-section h1 {
  color: var(--clr-font);
  text-shadow: 2px 2px 5px var(--clr-shadow);
  animation: popUp 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* ========== MAIN GAME ======== */
.app {
  background-image: url(img/slider-3.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  /* background-color: var(--clr-primary); */
}
/* background overlay effect */
.app::after {
  display: block;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  background-image: linear-gradient(0deg, rgba(15, 15, 15, 0.336) 0%, rgba(10, 10, 10, 0.521) 100%);
  position: absolute;
  z-index: -999;
}
/* selected box */
/* rock,paper,scissor image size */
.container img {
  height:150px;
  width: 150px;
  padding: 20px;
}
/* pointer for player selection */
.player-section .img-fluid:hover {
  cursor: pointer;
}
/* selected */
.selected, .selected-cpu {
  background-color: var(--clr-selected);
  border-radius: 10px;
}

/* ===== RESULT DISPLAY ======= */
/* score display */
.score h1 {
  font-size: 50px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 80px;
  color: var(--clr-font);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px var(--clr-shadow);
  animation: popUp 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* result message */
#result{
  font-weight: bold;
  text-shadow: 2px 2px 5px var(--clr-shadow);
}
.result-custom {
  position: relative;
  width: 20vw;
  animation: popUp 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* result message background */
.bg-default {
  color: #cc1b1b;
  font-size: 90px;
  font-weight:900;
  transition: 0.2s ease;
  animation: popUp 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.bg-win,
.bg-draw,
.bg-lose,
.bg-default {
  position: absolute;
  z-index: 2;
  top: 45%;
}
.bg-win,
.bg-draw,
.bg-lose{
  color: #f3f4f5;
  padding: 0.5em 1em;
  border-radius: 3em;
  box-shadow: 0 0 2em -0.3em rgba(18, 21, 22, 0.65);
  line-height: 1.5;
  opacity: 0.9;
  animation: rippleEffect 1s infinite linear;
}
.bg-win {background: #11b303;}
.bg-lose {background: #d40e00;}
.bg-draw {background: #1a6f91;}

/* modal box custom */
.modal .modal-dialog .modal-content{
  background-color: var(--clr--primary-accent) ;
}
.modal-content .modal-header {
  border: none;
}

/* ====== HEADER BUTTON & RESET BUTTON ===== */
/* logo image */
.rules-button img,
.about-button img {
  width: 90px;
  height: 90px;
  position: relative;
  bottom: 22px;
  right: 25px ;
}
/* about and rules button */
.about-button:hover::before {
  content: 'about';  z-index: 1;
  bottom: -50px;
  left: -10px;
}
.rules-button:hover::before {
  content: 'rules';
  z-index: 1;
  bottom: -50px;
  left: -10px;
}
.about-button,
.rules-button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  border-radius: 20%;
  position: relative;
}
.about-button:hover,
.rules-button:hover {
  animation: rippleEffect 1s infinite linear;
}

/* reset button */
#reset {
  height:70px;
  width: 70px;
  padding: 10px;
}
.reset-button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  position: relative;
}
.reset-button:hover{
  animation: rippleEffect 1s infinite linear;
}
.reset-button:hover::before {
  content: 'reset score';
  bottom: 120%;
}

/* tooltip */
.about-button:hover::before,
.rules-button:hover::before,
.reset-button:hover::before {
  background: var(--clr-shadow);
  color: var(--clr-font);
  padding: 0.5em 1em;
  border-radius: 1em;
  box-shadow: 0 0 2em -0.3em rgba(18, 21, 22, 0.65);
  line-height: 1.5;
  opacity: 0.9;
  display: block;
  position: absolute;
  animation: popUp 0.3s;
}

/* === MISC === */
/* animation */
@keyframes rippleEffect {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.35);
  }
  100% {
    box-shadow: 0 0 0 1rem transparent;
  }
}
@keyframes popUp {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1); 
  }
}
.animation {
  animation: rippleEffect 1s infinite linear;
}

/* responsive for medium/small screen <= 992px */
@media screen and (max-width: 992px) {
  .player-section h1 ,
  .cpu-section h1,
  .score h1,  
  header h1 {
    font-size: 2rem;
  }
  .container img {
    height:120px;
    width: 120px;
    padding: 20px;
  }
  .rules-button img,
  .about-button img {
  width: 90px;
  height: 90px;
  }
}